*{
    /*outline: 1px solid gray;*/
}
a{
    color: black; ;
}
a:hover{
    color: black;
}
.navbar{
    margin-top: 20px;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.3);
}

#blogs{
    margin-top: 10px;
}
.card{
    width: 16rem;
    height: 17rem;
    margin: 10px 10px;
    border-radius: 10px 10px;
    float: left;
    background-color: rgb(246,247,248);

}
.jumbotron{
    margin-top: 20px;
    background-color: rgb(246,247,248);
}
.align-self-start{
    border-radius: 10px 10px;
    width: 250px;
     height: 250px;
 }
.media{
    margin-top: 20px;
    border-radius: 10px 10px;
    background-color: rgb(246,247,248);
}
.blogarticles {
    margin-top: 20px;
    background-color: rgb(246, 247, 248);
    border-radius: 10px 10px;
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.3);
}
.article-info{
    margin-top: 20px;
    margin-bottom: 20px;
}
.media:hover{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.3);
}
.card:hover p{
    text-decoration: underline;
}
.jumbotron:hover{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.3);
}
